@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.projeto {
  @apply bg-gray-100 border rounded-xl p-4 shadow-sm text-center;
}

.titulo-projeto {
  @apply font-bold text-lg;
}

.roboto-titulo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-texto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 75;
}

.cabecalho {
  @apply w-full p-4 border-b shadow-sm flex justify-center items-center;
}

.mug {
  @apply w-25 rounded-4xl;
}

.nome {
  @apply text-2xl font-bold justify-center m-10;
}

.logo {
  @apply w-10;
}
